.inputColor::placeholder{
    color: black;
    opacity: 1;
}
.background{
    background: rgb(252,0,255);
    background: radial-gradient(circle, rgba(252,0,255,1) 0%, rgba(175,0,255,1) 50%, rgba(115,0,255,1) 100%);
}